@import "./theme-toggle.css";

@tailwind base;
@tailwind components;

html {
  @apply font-body antialiased;
}

@tailwind utilities;

.container {
  max-width: 600px;

  @screen sm {
    max-width: 700px;
  }

  @screen md {
    max-width: 850px;
  }
}
